.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: auto;
  margin-top: -80px;
}
.form {
  display: grid;
  gap: 10px;
}
.form > h1 {
  justify-content: center;
  margin: auto;
}
.form > input {
  width: 250px;
  height: 30px;
  margin: auto;
  border-radius: 10px;
  padding: 5px;
}
#formlogin {
  width: 300px;
  height: 250px;
  border: 1px solid black;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  margin: auto;
  padding-top: 30px;
  border-radius: 0 20px 0 20px;
  /* padding: 1rem;*/
}
.form > input:last-child {
  background-color: brown;
  margin-top: 10px;
  color: white;
}
/* .signin {
    margin: auto;
    padding-left: 40px;
  } */
