* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.searchPage {
  border-bottom: 1px solid grey;
}
.rooms {
  display: flex;
  /* justify-content: space-around; */
  margin: auto;
  margin-top: 25px;
  /* border: 1px solid black; */
  width: 95%;
  height: 270px;
  padding: 10px;
}
.rooms > div {
  /* border: 1px solid blue; */
  padding: 10px;
}
.rooms > div:nth-child(2) {
  /* border: 1px solid black; */
  margin: auto;
  justify-content: center;
  width: 40%;
  color: rgb(7, 90, 62);
}

.rooms > div:nth-child(3) {
  width: 15%;
  margin: auto;
  justify-content: center;
  color: brown;
}
.rooms > div:nth-child(3) > h2 {
  color: rgb(7, 90, 62);
}
/* .rooms > div :first-child {
  width: 35%;
} */

.rooms > button {
  width: 120px;
  height: 50px;
  margin: auto;
  color: white;
  background-color: brown;
  border: 0;
  font-size: large;
  border-radius: 5px;
  cursor: pointer;
}
.rooms > div > img {
  height: 100%;
  border-radius: 10px;
  width: 350px;
}
.popup-content.cust-popup-content {
  padding: 0;
  width: 500px;
}
.checkout h2 {
  border-bottom: 1px solid #ccc;
  font-size: 18px;
  font-weight: 500;
  padding: 15px;
  position: relative;
}
.checkout h2 span {
  color: #007e8f;
  font-size: 30px;
  position: absolute;
  right: 20px;
  top: 3px;
  cursor: pointer;
}
.checkout-content {
  padding: 15px;
}
.checkout-content .head {
  display: flex;
  justify-content: space-between;
}
.checkout-content .head .side {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.checkout-content .head .side span {
  color: #777;
  font-size: 13px;
}
.checkout-content .body {
  margin: 30px 0;
}
.checkout-content .body .item {
  padding: 20px 0;
}
.checkout-content .body .item .aside {
  display: flex;
  justify-content: space-between;
}
.checkout-content .body .item .aside ul li {
  list-style: none;
  color: #777;
  font-size: 13px;
  width: 240px;
  margin-top: 10px;
}
.checkout-content .body .item .aside .charge {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.checkout-content .body .item .aside .charge label {
  font-weight: 700;
  font-size: 23px;
}
.checkout-content .body .item .aside .charge span {
  color: #777;
  font-size: 13px;
}
.checkout-content .body .item .aside .charge button {
  background-color: #c83259;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  margin-top: 10px;
  cursor: pointer;
}
.checkout-content .body .item .aside .charge button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.checkout-content .body .item .aside .charge small {
  color: #de5555;
  font-size: 12px;
}
